<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yipage.leanmarketing.mapper.LabelRecordMapper">
    <resultMap id="BaseResultMap" type="com.yipage.leanmarketing.model.LabelRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="label_id" jdbcType="INTEGER" property="labelId"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
</mapper>