<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yipage.leanmarketing.mapper.UserSubMapper">
    <resultMap id="BaseResultMap" type="com.yipage.leanmarketing.model.UserSub">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="member_level" jdbcType="INTEGER" property="memberLevel"/>
        <result column="benfit_id" jdbcType="INTEGER" property="benfitId"/>
        <result column="apply_name" jdbcType="VARCHAR" property="applyName"/>
        <result column="expiration_time" jdbcType="TIMESTAMP" property="expirationTime"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
</mapper>