<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yipage.leanmarketing.mapper.UserRechargeOrderMapper">
    <resultMap id="BaseResultMap" type="com.yipage.leanmarketing.model.UserRechargeOrder">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="payment" jdbcType="VARCHAR" property="payment"/>
        <result column="pay_state" jdbcType="INTEGER" property="payState"/>
        <result column="pay_money" jdbcType="DECIMAL" property="payMoney"/>
        <result column="pay_number" jdbcType="VARCHAR" property="payNumber"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
</mapper>